.wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.8fr 1fr 1fr 0.5fr;
  grid-template-areas:
  "header header header"
  "section art1 art2"
  "section art3 art3"
  "footer footer footer";
  text-align: center;
  width: 100vw;
  height: 30vh;
  grid-gap: 0.2rem;
}

hr{
  margin: 30px 0;
}

header{
  background-color:red;
  grid-area: header;
}

section{
  background-color: yellow;
  grid-area: section;
}

#art1{
  background-color: blue;
  grid-area: art1;
}

#art2{
  background-color: green;
  grid-area: art2;
}

#art3{
  background-color: violet;
  grid-area: art3;
}

footer {
  background-color: red;
  grid-area: footer;
}

@media only screen and (max-width: 550px) {
  .wrapper{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.8fr 1fr 1fr 1fr 2fr 0.5fr;
    grid-template-areas:
    "header"
    "section"
    "art1"
    "art2"
    "art3"
    "footer"
  ;
  }
}